/* body * {
    border: 1px solid red;
} */

body {
    background-image: url("../images/blur-blurry-bokeh-347139.jpg");
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center top;
    max-width: auto;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

#popUp1 {
    padding: 20px;
}